* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color1: #1e1811;
    --color2: #c34c34;
    --color3: #74b4ad;
    --color4: #fbe32c;
    --color5: #85806d;
    --color6: #87b3ac;
    --color7: #dc903370;
    --color8: #c34c3450;
    --color9: #4c7c7c;
}


.cabecera {
    width: 100vw;
}

.logo {
    width: 20vw;
}

figure img {
    width: 65vw;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/fondo.jpeg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(var(--color2), var(--color3), rgba(255, 255, 0, 0));
}

h1 {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 7%;
    text-align: center;
    color: var(--color9);
    -webkit-text-stroke: 0.01rem var(--color4);
    text-shadow: 5px 1px 3px var(--color1);
}

h2 {
    font-size: 2.7em;
    margin-bottom: 1vw;
    margin-top: 3vw;
    color: var(--color3);
    text-align: center;
    text-shadow: 2px 0px 3px var(--color1);
}

h3:hover {
    padding-left: 1em;
    background-image: url(../assets/puck.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

h3 {
    font-size: 2.2em;
    color: var(--color1);
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

h4 {
    padding-top: 1em;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    padding-bottom: 1%;
    text-align: justify;
}

h3+p {
    padding-left: 10vh;
    padding-right: 13vh;
    text-indent: 1.5em;

}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: var(--color3);
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

nav a:hover {
    border-radius: 10%;
    font-size: 1.5em;
    text-decoration: underline;
}


.active {
    background-color: var(--color9);
    border-radius: 8%;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    margin-right: 9vw;
    row-gap: 3vh;
    padding-bottom: 3vh;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--color9);
}

footer a {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}

footer a:hover {
    font-size: 1.7em;
}


ul {
    list-style: none;
}

table {
    width: 70vw;
    height: 30vh;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    text-align: center;
    background-color: #a8e7e15e;
}

td {
    padding: 0.5em;
    border: 1px solid black;
}

th {
    background-color: var(--color3);
    border: 1px solid black;
    font-size: 1.3em;
    color: var(--color1);
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol li {
    padding-left: 5%;
    padding-right: 6%;
    padding-bottom: 1%;
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
    border: 0.1em solid var(--color1);
    padding: 3em 7em;
}

fieldset {
    border: none;
    font-size: 1.2em;
    display: flex;
    padding-bottom: 2em;
    padding-top: 1em;
    flex-wrap: wrap;
    justify-content: space-between;

}

input[type=text] {
    border: none;
    border-bottom: 2px solid var(--color1);
    background: none;
}

input[type=radio] {
    padding: 1em;
}

label {
    padding: 0em 1em;
}

.schools {
    width: 60%;
}

legend {
    font-weight: bold;
    padding-top: 1em;
}

.options {
    flex-direction: column;
}

input[type=submit]{
    width: 10em;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    background-color: var(--color6);
    color: white;

}